body {
  background-color: lightgreen;
}

h1 {
  margin-left: 400px;
  color: purple;
}
li {
  color: red;
  margin-left: 210px;
  font-size: 25px;
}
p {
  margin-left: 210px;
  font-size: 30px;
}
p2 {
  font-size: 30px;
  margin-left: 210px;
}
a {
  margin-left: 210px;
  font-size: 30px;
}
